html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 3rem;
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
    justify-content: center;
}

footer {
    font-weight: bolder;
    color: black;
    background-color: white;
    font-size: small;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    text-align: center;
    border-top-left-radius: 60px 60px;
    border-top-right-radius: 60px 60px;
    border-top: black 1px solid;
}

div {
    padding: 10px;
    display: block;
}

label {
    color: green;
    background-color: white;
    width: 50px;
    font-weight: bolder;
    font-size: smaller;
    margin-bottom: 0.5rem;
}

input {
    border-radius: 10px;
    border-width: 1px;
    border-color: cornflowerblue;
    border-style: dotted;
    padding: 4px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* equal height */
    white-space: normal;
}

.column {
    flex: 1;
    /* equal width */
    padding: 1em;
    margin: 2px;
    white-space: normal;
}

#bishbutton {
    background-color: cornflowerblue;
    width: 120px;
    height: 40px;
    font-weight: normal;
    border-radius: 10px;
    border-width: 1px;
    color: white;
}

#explanation {
    color: black;
    font-weight: normal;
    border-radius: 10px;
    border-width: 1px;
    border-color: cornflowerblue;
    border-style: dotted;
    padding: 1rem;
    text-align: left;
    white-space: normal;
}

#error {
    color: red;
    font-weight: bolder;
}

#output {

    color: cornflowerblue;
    white-space: normal;
    padding: 10px;
    margin: 0;
    overflow-wrap: break-word;
    width: 50%;
}